


h1 {
    color: rgb(33, 137, 182);
    font-size: 3vw;
    font-size: 3vh;
    text-align: center;
}



.add-note {
    background-color: rgb(33, 137, 182);
    color: white;
    font-size: min(2vw, 2vh, 1.2rem);
    transition: transform 0.2s;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.material-symbols-outlined {
    font-size: 2.5vw;
    font-size: 2.5vh;
}

button:hover {
    transform: scale(1.1);
}

.note-container button {
    background-color: rgb(33, 137, 182);
    color: white;
    font-size: min(1.5vw, 1.5vh, 1rem);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px;
}

p {
    color: rgb(32, 76, 95);
    font-size: 2vw;
    font-size: 2vh;
    
}

.note-container {
    background-color: rgb(201, 230, 237);
    padding: 2px 20px;
    margin: 10px 10px;
    border-radius: 10px;
}